<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.ejs') %>
<style>
body{ 
    background-image: url("<%= image %>");
    background-size: cover;
}
</style>
</head>
<body>
    <h1>The Solar System</h1>
<%- include('partials/nav.ejs') %>
    <img src="/img/SolarSystem.jpeg" alt="Solar System">
<%- include('partials/footer.ejs') %>
</body>
</html>
