<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
    <h1>NASA</h1>
    <%- include('partials/nav.ejs') %>
    </nav>

    <img src="<%= image2 %>">
</body>
<%- include('partials/footer.ejs') %>
</html>
